@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.icon-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  margin-top: 20px;
  color: #252b42;
}
.icon-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin-top: 20px;
  width: 232px;
  color: #737373;
}

.featured-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #23a6f0;
}

.featured-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #252b42;
}

.featured-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.additives {
  background-image: url("/images/background.jpeg");
  text-align: center;
  padding: 200px 0px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 60px;
}
